<!-- Add Modal start -->
<div class="modal-dialog wide modal-dialog-centered">
  <div class="modal-content">
    <form action="" [formGroup]="addForm" (ngSubmit)="addStaff()">
      <div class="modal-header shadow-sm">
        <h1 class="modal-title fs-5">Add Staff</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center p-2">
          <div class="col-1"></div>
          <div class="col-4 p-1">
            <div class="input-container">
              <input type="text" formControlName="firstName" placeholder="First Name">
              <label>First Name</label>
              <span class="fs-7 text-danger"
                *ngIf="addForm.get('firstName')?.touched && !addForm.get('firstName')?.valid" id="span">Please enter
                your First Name (3-10 letters)</span>
            </div>
            <div class="input-container">
              <input type="number" formControlName="phoneNo" placeholder="Phone Number *">
              <label>Phone Number *</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('phoneNo')?.touched && !addForm.get('phoneNo')?.valid"
                id="span">Please enter your 10 digit Phone No</span>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-4 p-1">
            <div class="input-container">
              <input type="text" formControlName="lastName" placeholder="Last Name">
              <label>Last Name</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('lastName')?.touched && !addForm.get('lastName')?.valid"
                id="span">Please enter your Last Name (3-10 letters)</span>
            </div>
            <div class="input-container">
              <input type="text" formControlName="email" placeholder="E-Mail">
              <label>E-Mail</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('email')?.touched && !addForm.get('email')?.valid"
                id="span">Please enter/correct your mail</span>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row justify-content-center p-2">
          <div class="col-1"></div>
          <div class="col-4 p-1">
            <div class="input-container">
              <input type="text" formControlName="line1" placeholder="Address Line 1">
              <label>Address Line 1</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('line1')?.touched && !addForm.get('line1')?.valid"
                id="span">Please enter your full address</span>
            </div>
            <div class="input-container">
              <input type="number" formControlName="pincode" placeholder="Pin-Code">
              <label>Pin Code</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('pincode')?.touched && !addForm.get('pincode')?.valid"
                id="span">Please enter your 6 digit pincode</span>
            </div>
            <div class="input-container">
              <input type="text" formControlName="district" placeholder="District">
              <label>District</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('district')?.touched && !addForm.get('district')?.valid"
                id="span">Please enter your district</span>
            </div>
            <div class="input-container">
              <input type="text" formControlName="country" placeholder="Country">
              <label>Country</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('country')?.touched && !addForm.get('country')?.valid"
                id="span">Please enter your country</span>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-4 p-1">
            <div class="input-container">
              <input type="text" formControlName="line2" placeholder="Address Line 2">
              <label>Address Line 2</label>
            </div>
            <div class="input-container">
              <input type="text" formControlName="city" placeholder="City">
              <label>City</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('city')?.touched && !addForm.get('city')?.valid"
                id="span">Please enter your city</span>
            </div>
            <div class="input-container">
              <input type="text" formControlName="state" placeholder="State">
              <label>State</label>
              <span class="fs-7 text-danger" *ngIf="addForm.get('state')?.touched && !addForm.get('state')?.valid"
                id="span">Please enter your state</span>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row justify-content-center py-4 mb-24">
          <div class="col-1"></div>
          <button type="submit" class="btn-ovaku col-4 shadow" data-bs-dismiss="modal" [disabled]="!addForm.valid">Add
            Staff</button>
          <div class="col-1"></div>
          <button type="button" class="btn-danger col-4 shadow" data-bs-dismiss="modal">No, Go
            Back!</button>
          <div class="col-1"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- Add Modal End -->