<!-- Leftbar Start -->
<div class="left-bar">
    <ul class="left-nav">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" title="Home"
                data-original-title="Home" routerLink="/dashboard">
                <img src="./assets/images/home.svg" class="nav-img">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tooltip" routerLink="/staff" title="Staff">
                <img src="./assets/images/icon_3.svg" class="nav-img">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tooltip" routerLink="/client" title="Client">
                <img src="./assets/images/icon_2.svg" class="nav-img">
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tooltip" data-bs-placement="right" routerLink="/event" title="Event">
                <img src="./assets/images/icon_4.svg" class="nav-img">
            </a>
        </li>
    </ul>
    <section class="bottom-bar">
        <div class="logout-area">
            <a href="#" data-bs-toggle="tooltip" data-bs-placement="right" title="Logout">
                <img src="./assets/images/icon_5.svg">
            </a>
        </div>
    </section>
</div>
<!-- Leftbar End -->