<!-- Create Account Area Start -->

<section class="credential-area d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="row mb-8">
                    <div class="col-md-12">
                        <div class="title-white text-white-1">create <span>Account</span></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-8">
                        <label for="inputNumber" class="input-form-label text-white-1">company
                            <span>Name</span></label>
                    </div>
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between align-content-center">
                            <input type="Text" placeholder="Abc Ltd" class="form-control" value="">
                        </div>
                    </div>
                </div>
                <div class="row mt-12">
                    <div class="col-md-12 mb-8">
                        <label for="inputNumber" class="input-form-label text-white-1">owoner
                            <span>Name</span></label>
                    </div>
                    <div class="col-md-12">
                        <div class="row gx-3">
                            <div class="col-md-6">
                                <input type="text" placeholder="First Name" class="form-control" value="">
                            </div>
                            <div class="col-md-6">
                                <input type="text" placeholder="Last Name" class="form-control" value="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-12">
                    <div class="col-md-12 mb-8">
                        <label for="inputNumber" class="input-form-label text-white-1">email <span>Id</span></label>
                    </div>
                    <div class="col-md-12">
                        <input type="text" placeholder="example@gmail.com" class="form-control" value="">
                    </div>
                </div>
                <div class="row mt-12">
                    <div class="col-md-12 mb-8">
                        <label for="inputNumber" class="input-form-label text-white-1">number <span>of
                                Emplyoyees</span><span class="optional">(Optional):</span></label>
                    </div>
                    <div class="col-md-12">
                        <input type="number" placeholder="5" class="form-control text-center" value="">
                    </div>
                </div>
                <div class="row mt-24 justify-content-center">
                    <div class="col-auto">
                        <a href="#" class="white-btn" routerLink="/auth/create-account">Continue</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="suggestion-test signup">
                    <i class="fas fa-lock"></i>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                    the industry's standard dummy text ever since the 1500s
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Create Account Area End -->