<body class="py-2 body rounded ">
    <div class="main d-flex flex-column">
        <!-- header -->
        <div class="container border border-4 border-success rounded w-50">
            <h1 class="a d-flex justify-content-center align-items-center text-success ">Recover-Password</h1>
        </div>

        <!-- logo -->
        <div>
            <img class="rounded-circle img-fluid mx-auto d-block mt-2" style="height: 129px;"
                src="https://media.licdn.com/dms/image/C5622AQGDiCBVeaOK5Q/feedshare-shrink_2048_1536/0/1671906454208?e=1678320000&v=beta&t=W8tMRCaDub7SjcJTE-HjC2foItQAcp4-Kk3URtOIC44">
        </div>

        <!-- body -->
        <div class="form container w-75 p-3">
            <form  class="d-flex flex-column ">
                <!-- username or email -->
                <label class="label fw-bold fs-5">Mobile Number/ Email</label>
                <input type="text" placeholder="Enter Email or Mobile NO"
                     class="p-1 mb-1 rounded border border-2 border-danger" formControlName="phno">
                <span *ngIf="phno && phno.invalid && phno.touched" class="mb-1 text-danger">Enter valid <strong>Mobile number
                        or Email</strong> </span>

                <span class="d-flex justify-content-between w-100 fs-6 fw-bold ">
                    <!-- Remember me -->
                    <div class="input-name">
                        <input type="checkbox" class="check-button mx-1  ">
                        <label class="mt-2 fs-6 ">Remember me</label>
                    </div>
                    <!-- forgot password -->
                    <!-- <a routerLink="/auth/forgot-password" class="">Forgot password?</a> -->
                </span>

                <!-- signin button -->
                <div>
                    <button class="mt-4 btn btn-success rounded w-25" data-tor="hover:bg-opacity(50%)"
                        >send OTP</button>
                </div>

                <!-- sign up -->
                <p class="fs-6 fw-bold mt-4">Email not Remember? <a routerLink="">try another way</a></p>
            </form>
        </div>
        <!-- output -->
    
    </div>

</body>