<div class="right-bar">

    	<div class="hero-section">	
		<div class="about-text hover-target">about</div>
		<div class="contact-text hover-target">contact</div>
		<div class="section-center">
			<div class="container-fluid">
				<div class="row justify-content-center">
					<div class="col-12 text-center">
						<h1>Frame Studio</h1>
					</div>
					<div class="col-12 text-center mb-2">
						<div class="dancing">photography</div>
					</div>
					<div class="col-12 text-center mt-4 mt-lg-5">
						<p>
							<span class="weddings hover-target">weddings</span> 
							<span class="engagements hover-target">birthdays</span> 
							<span class="seniors hover-target">parties</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>	
	
</div>
