.paragraph{
    margin: 0 6rem;
    margin-bottom: 1.5rem;
}
.event{
    border: 1px solid #737171;
    margin: 2rem;
    border-radius: .5rem;
}
.head1{
    margin: 0 6rem;
    margin-top: 1.5rem;
   
}
.button1{
display: flex;
justify-content: right;
margin: 0 6rem;
margin-bottom: 1.5rem;

}
.button{
    margin-bottom: 2rem;
}
.box{
    padding: 1rem 1rem;
    border: 1px solid black;
    

}
.row{
    display: flex;
    flex-direction: row;
}
.card{
    width:18rem ;
    border: 1px solid #737171;
    margin: 2rem;
    border-radius: .5rem;
    
}