/*808080>C0C9CC, F7F7F7>F2F1F0, 4D4D4D>404846*/
$font-family-primary: 'Ubuntu', sans-serif !default;
$base-size: 16px;
$color-primary-1: #1488cc;
$color-primary-2: #06beb6;
$color-white-1: #FFFFFF;
$color-black-1: #404846;
$color-gray-1: #C0C9CC;
$bg-gray: #F2F1F0;
$bg-primary-1: #1488cc;
$bg-gradient-1: linear-gradient(to right, $color-primary-1, $color-primary-2);
$bg-white-1: #FFFFFF;
$font-900: 900;
$font-800: 800;
$font-700: 700;
$font-600: 600;
$font-500: 500;
$font-400: 400;
$font-300: 300;
$font-200: 200;
$font-100: 100;
$base-size: 16px;